//	Fallback fs
    $letter-spacing:    			20;		// Photoshop unit
	$line-height:					1.618;	// Golden ratio
	@mixin fs($value) {
		$pxValues: '';
		$remValues: '';
		$pxValuesLetterSpacing: '';
		$remValuesLetterSpacing: '';
		$pxValuesLineHeight: '';
		$remValuesLineHeight: '';

		// PX
		$pxValues: #{$pxValues + $value*10}px;
		$pxValuesLetterSpacing: #{( $letter-spacing * ($value * 10) ) / 1000}px;
		$pxValuesLineHeight: #{( ($value * 10) ) * $line-height}px;

		// REM
		$remValues: #{$remValues + $value}rem;
		// suivant un letter spacing standard de "20"
		$remValuesLetterSpacing: #{( $letter-spacing * $value ) / 1000}rem;
		// suivant une line-height ratio de 1.618
		$remValuesLineHeight: #{( $value  ) * $line-height}rem;

		line-height: $pxValuesLineHeight;
		line-height: $remValuesLineHeight;
		letter-spacing: $pxValuesLetterSpacing;
		letter-spacing: $remValuesLetterSpacing;
		font-size: $pxValues;
		font-size: $remValues;
	}
