//	Fallback fs
    	$letter-spacing:    			20;	// Photoshop unit
	$line-height:				1.618;	// Golden ratio
	@mixin fs($value) {
		$Values: '';
		$ValuesLetterSpacing: '';
		$ValuesLineHeight: '';

		$Values: #{$Values + $value}px;
		$ValuesLetterSpacing: #{( $letter-spacing * ($value) ) / 1000}px;
		$ValuesLineHeight: #{( ($value) ) * $line-height}px;

		line-height: $ValuesLineHeight;
		letter-spacing: $ValuesLetterSpacing;
		font-size: $Values;
	}
